<footer>
  <a href="{{ '/' | url }}" target="_blank">CK
    &nbsp;&copy;&nbsp;
    {{ helpers.currentYear() }}
  </a>
  &nbsp;&bull;&nbsp;
  <a href="/about/">
    About me
  </a>
  &nbsp;&bull;&nbsp;
  <a href="https://github.com/dinhanhthi/dinhanhthi.com">
    Template Used
  </a>
</footer>